:root{
    --text-color:#ffffff;
    --icon-color: linear-gradient(#DC143C,#D2691E);
    --background-color: linear-gradient(#28282B,#191970);
    --background-color1:#c5c5c5;

}

body{
    background: #191970;
    color: var(--text-color);
}

.main{
    margin: 10rem;
}

.back{
    background: grey;
    opacity: 0.5;
    margin-left: -5rem ;
    border-radius: 5rem;
    width: 2%;
    text-align: center;
    padding: 0.8rem;
    font-size: 1.2rem;
    position: fixed;
    top: 10%;
}

.back:hover{
    opacity: 1;
}

h3{
    margin: 3rem 0;
  }

.profile{
    margin-top: 5rem;
}

.p_avatar{
    background: #111142;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid transparent;
border-bottom: 0;
border-top-left-radius: 2rem;
border-top-right-radius: 2rem;
}

.left{
    margin-left: 5rem;
}

.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p_avatar i{
    background-image: linear-gradient(#DC143C, #D2691E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;

}

.btn_button{
    border-radius: 2rem;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 1rem;
    background: transparent;
    color: var(--text-color);
}


.name,
.system{
    background: #111142;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid transparent;
    margin-top: 1rem;
}

.name input,
select{
    padding: 0.5rem;
    border-radius: 0.5rem;
}

select{
    padding: 0.5rem 3rem;
}

span{
    margin-right: 1rem;
}

.system{
    border-top: 1px solid transparent;
    border-bottom: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.restrictions,
.pin,
.video,
.trailers{
    background: #111142;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid transparent;
    
}

.restrictions,
.video{
border-bottom: 0;
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 1rem;
} 

.pin{
    margin-top: 1rem;
}

.trailers{
    margin-top: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.footer{
    margin:2rem 4rem;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
}

a{
   text-decoration: none;
   color: #c0c0c0;
}

.top ul li{
    display: inline-block;
    margin: 0.5rem;
}

.support{
    margin: 0rem 0rem 0rem 1rem ;
}

.support li a:hover{
    color: #DC143C;
}

.socials i{
 background: grey;
 border-radius: 5rem;
 padding: 0.8rem;
 font-size: 1rem;

}

.socials i:hover{
    background: #DC143C;
}

.bottom{
    margin: 1rem 20rem 5rem 4rem ;
    color: #c0c0c0;
}

        .toggle {
            position : relative ;
            display : inline-block;
            width : 5.2rem;
            height : 2.5rem;
            background-color: green;
            border-radius: 5rem;
        }
              
        .toggle:after {
            content: '';
            position: absolute;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background-color: gray;
            top: 1px; 
            left: 1px;
            transition:  all 0.5s;
        }
              
        p {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
    
        .checkbox:checked + .toggle::after {
            left : 49px; 
        }
        
        .checkbox:checked + .toggle {
            background-color: red;
        }
      
        .checkbox { 
            display : none;
        }
